<%= form_for @brand do |f| %>
	<% if @brand.errors.any? %>
		<div class = "alert alert-danger">
			<ul>
				<% @brand.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="form-group">
		<%= f.label :categories %><br/>
		<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |c|%>
			<div class="checkbox-inline ">
				<%= c.check_box %>
				<%= c.object.name %>
			</div>
	<% end %>
 
	</div>
	

	<%= f.submit "Submit", class: "btn btn-success" %> or <%= link_to "Back", :back %>

<% end %>