<%= form_for @category do |f| %>
	<% if @category.errors.any? %>
		<div class = "alert alert-danger">
			<ul>
				<% @category.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>	

	<%= f.submit "Submit", class: "btn btn-success" %> or <%= link_to "Back", :back %>

<% end %>