<h2>Add new category</h2>
<%= form_for @category do |f| %>
	<% if @category.errors.any? %>
		<div class = "errors" style = "color: red;">
			<ul>
				<% @category.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.label :name %><br/><br/>
	<%= f.text_field :name %><br/><br/>

	<%= f.submit %>
<% end %>